*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
}

.container img{
    width: 200px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.container{
    width: 98%;
    margin: auto;
}