/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HEADER*/
header {
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
}


.logo img{
    width: 200px;
    margin-top: 50px;
    margin-bottom: 20px;
    
}

/*COMMON*/
.container{
    width: 98%;
    margin: auto;
}

.container h1{
    font-size: 40px;
    margin-top: 15px;
}

.writer-source{
    font-size: 18px;
    font-weight: 800;
    color: #8a8a8a;
}

.writer-source span{
    color: #41b4e7;
}

.writing-date{
    font-size: 12px;
    color: #8a8a8a;
    margin-bottom: 20px;
}

/*PHOTO AND TEXT*/
.photo-description{
    font-size: 12px;
}

.text-content{
    margin-top: 15px;
    margin-bottom: 15px;
}

.text-underline{
    background-color: #ffff03;
}

/*LIST*/
.lorem-list{
    margin-bottom: 15px;
}

/*TABLE*/
table{
    border-collapse: collapse;
}

.largest {
    width: 50%;
}

thead{
    background-color: #20a9e5;
}

.color-row{
    background-color: #b1e5f2;
}


.text-content{
    margin-bottom: 15px;
}

/*FOOTER*/
.other{
    font-weight: 800;
    color: #8a8a8a;
}

.bg-desck{
    background-image: url(../img/monitor.jpg);
    width: 250px;
    height: 200px;
    margin-top: 10px;
    
    
}

.lorem-text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    margin-left: 10px;
}

.bg-graphic{
    background-image: url(../img/graph.jpg);
    width: 250px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
}

